.Header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black; 
}

.logo{
    width: 160px;
    margin-top: 5px;
    margin-left: 5px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: 24px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 40px;
   

}

.res-card{
   

    margin: 7px;
    padding: 4px;
    height: auto;
    width: 200px; 
    background-color: rgb(194, 189, 189);
    border: none;
    border-radius:15px; 
}

.res-card:hover{
    cursor: pointer;
   


    box-shadow: 0px 0px 22px 3px black;
    transition: all 200ms ease-out;
}

.res-logo{
    height: 150px;
    width:150px;
    margin-left: 25px;
    margin-top: 20px;
    object-fit: cover;
    justify-content: center;
    
    
}


.search{
    padding: 10px;
   
}

.res-details{
    
    width: 100%;
    height: 100%;

    padding: 5px;
}

/* .body-container{
    padding: 0;
    margin: 0;
} */